
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.content {
    margin: 40px 80px;
}



.info {

    padding-right: 60px;
    text-align: justify;
    font-size: 15px;
    height: 100%;
}

.photo {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;


}

#selectSpecies{
    text-align: left;
}

.speciesName {
    text-align: center;
    font-size: 30px;
}

.infoselect {
    height: 80%;
    vertical-align: middle;
    margin-bottom: 20px;
}

.reset {
    text-align: right;
}

#map {
    height: 500px !important;
}



.top {
    /* height: 30vw;*/
}

.counter {
    border: 3px;
    text-align: center;
    font-size: 50px;

}

.occurances {
    /*   height: 600px;*/
    margin-bottom: 100px;
}

.sightings {
    /*  height: 500px;*/
    margin-bottom: 50px;
}

.reset {
    color: #f5f5f5;
}

footer {
    color: #3a3a3c;
    /*  height: 250px; */
    background-color: #fafafa;
}


.ala {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


.contact p {
    font-size: 30px;
    text-align: center;
}

.contact a i {
    font-size: 100px;
    color: #3a3a3c;
    text-align: center;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: 0.5s ease-in-out;
}

.contact a i:hover {
    transform: scale(1.3);
}



.copyright {
    margin-top: 20px;

    text-align: center;
    border-top: 5px solid #3a3a3c;
}

.dismiss {
    border: none;
    color: #fff;
    background-color: transparent;
}

@media only screen and (max-width: 992px) {
    
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .content {
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .info {
        
        padding-right: 0px;
    }
    
    .img-container {
        padding-top: 30px;
    }
    
    .dc-chart {
        text-align: center;
    }
    
    #map {
        height: 400px !important;
    }
    
   
    
}


